// MY PROJECTS TEXT BEGINNING
.pmg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("http://bit.ly/2pjE8Cl");
  min-height: 400px;
}
// MY PROJECTS TEXT END

// PROJECTS BEGINNING
.project {
  border: 3px solid black;

  overflow: hidden;
  position: relative;
  background: black;
  padding: 0;
  margin: 0;
  height: 300px;
}
.project img {
  opacity: 0.5;
  transform: scale(1.05);
  transition: opacity 0.35s linear, transform 0.35s ease;
  width: 100%;
}
.project figurecaption {
  position: absolute;
  width: 100%;
  height: 35px;
  background: rgba(145, 145, 145, 0.35);
  bottom: 0px;
  left: 0;
  padding: 7px;
  transition: color 0.35s ease, background 0.35s ease;
}
.project .description {
  width: 33%;
  position: absolute;
  bottom: 35px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-right: 1px solid #f4ede4;
  color: #f4ede4;
  padding: 5px;
  margin: 0;
  transition: left 1.5s ease, opacity 1s ease;
}
.project:hover img {
  opacity: 1;
  transform: scale(1.25);
}
.project:hover .description {
  left: calc(-33% + 1px);
  opacity: 0.5;
}
/* toggle .attention for touch and focus events in js for mobile and people not using a mouse */
.project.attention img {
  opacity: 1;
  transform: scale(1.1);
}
.project.attention .description {
  left: calc(-33% - 8px);
  opacity: 0.5;
}
.more-link {
  background: #d01516;
  padding: 3px 10px;
  border-radius: 10px;
  transition: opacity 0.5s;
  text-decoration: none;
  color: white;
}
.more-link:hover,
.more-link:active {
  opacity: 0.75;
}
// PROJECTS END
