:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  cursor: none;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  scroll-behavior: smooth;
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);
}

@import "menu";
@import "projects";
@import "contactform";
@import "footer";

// TO TOP BUTTON BEGINNING
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 99;
  font-size: 18px;
  border: 1px solid #bbc800;
  outline: none;
  background-color: #1b1b1b;
  color: white;
  cursor: none;
  padding: 15px;
  border-radius: 4px;
  transition: all 0.3s;
}

#myBtn:hover {
  background-color: #fff;
  color: #000;
}
// TO TOP BUTTON END

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.cursorCustom {
  width: 3rem;
  height: 3rem;
  border: 2px solid #bbc800;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99999;
  backdrop-filter: sepia(90%);
}

#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(to right, #bbc800, #9a9a9a);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}

#preloader {
  background: #000 url(/preload.gif) no-repeat center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
}
#portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.rpsGame {
  display: grid;
  justify-content: center;
  margin: 50px 0;
  background: #d2d2d2;
  padding: 50px 0;
  color: #1a1e25;
  a {
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    height: 50px;
    background: #1a1e25;
    display: grid;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: #afafaf;
    border-radius: 5px;
    transition: 0.5s;
    &:hover {
      background: #3c4555;
      color: #ffffff;
    }
  }
}

.hometext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 27px;
  letter-spacing: 8px;
  font-weight: 700;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr {
  width: 500px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.control-label {
  color: #666;
}

.imgme {
  border-radius: 8px;
  height: 400px;
}

.aboutp {
  padding-top: 30px;
}

.hometext .name {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 300;
}

section {
  text-align: center;
  background: #1a1e25;
  color: #868c96;
  padding: 60px 0;
}

@media (max-width: 850px) {
  .cursorCustom {
    display: none;
  }
  #portfolio {
    display: grid;
    justify-items: center;
    grid-template-columns: unset;
  }
  .rpsGame {
    padding: 50px 10px;
    text-align: center;
  }
  #myBtn {
    right: 30px;
    padding: 10px;
  }
}
